buoi3/orders.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="orders">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="order" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="product" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="quantity" type="xs:positiveInteger"/>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
          </xs:complexType>

          <!-- Ràng buộc id của product là duy nhất trong mỗi order -->
          <xs:unique name="UniqueProductIDPerOrder">
            <xs:selector xpath="product"/>
            <xs:field xpath="@id"/>
          </xs:unique>
        </xs:element>
      </xs:sequence>
    </xs:complexType>

    <!-- Ràng buộc id của order là duy nhất trong toàn bộ tài liệu -->
    <xs:unique name="UniqueOrderID">
      <xs:selector xpath="order"/>
      <xs:field xpath="@id"/>
    </xs:unique>
  </xs:element>

</xs:schema>