buoi3/student_unique.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="school">
    <xs:complexType>
      <xs:sequence>
        <!-- Danh sách sinh viên -->
        <xs:element name="student" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:ID"/>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="date" type="xs:date"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <!-- Danh sách đăng ký môn học -->
        <xs:element name="enrollment" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attribute name="studentRef" type="xs:IDREF" use="required"/>
            <xs:attribute name="course" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>

    <!-- Ràng buộc giá trị id là duy nhất -->
    <xs:unique name="UniqueStudentID">
      <xs:selector xpath="student"/>
      <xs:field xpath="id"/>
    </xs:unique>
  </xs:element>

</xs:schema>