buoi02/company4.dtd

<!ELEMENT company (dep:department+)>
<!ATTLIST company
    xmlns:hr CDATA #FIXED "http://company.com/hr"
    xmlns:dep CDATA #FIXED "http://company.com/department">

<!ELEMENT dep:department (hr:employee+)>
<!ATTLIST dep:department name CDATA #REQUIRED>

<!ELEMENT hr:employee (hr:name, hr:position)>
<!ATTLIST hr:employee id ID #REQUIRED>

<!ELEMENT hr:name (#PCDATA)>
<!ELEMENT hr:position (#PCDATA)>