buoi02/hospital7.dtd

<!ELEMENT hospital (app:appointment+)>
<!ATTLIST hospital
    xmlns        CDATA #FIXED "http://example.com/hospital"
    xmlns:pat    CDATA #FIXED "http://example.com/patient"
    xmlns:doc    CDATA #FIXED "http://example.com/doctor"
    xmlns:app    CDATA #FIXED "http://example.com/appointment">

<!-- Appointment -->
<!ELEMENT app:appointment (pat:patient, doc:doctor)>
<!ATTLIST app:appointment
    id ID #REQUIRED
    date CDATA #REQUIRED
    status CDATA #REQUIRED>

<!-- Patient -->
<!ELEMENT pat:patient (pat:name, pat:dob)>
<!ATTLIST pat:patient
    id ID #REQUIRED>
<!ELEMENT pat:name (#PCDATA)>
<!ELEMENT pat:dob (#PCDATA)>

<!-- Doctor -->
<!ELEMENT doc:doctor (doc:name, doc:specialty)>
<!ATTLIST doc:doctor
    id ID #REQUIRED>
<!ELEMENT doc:name (#PCDATA)>
<!ELEMENT doc:specialty (#PCDATA)>
