Buoi_4/student_key.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="school">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="student" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:string"/>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="date" type="xs:date"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="enrollment" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="studentRef" type="xs:string"/>
              <xs:element name="course" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>

    <!-- Khóa chính: Mỗi sinh viên có một ID duy nhất -->
    <xs:key name="StudentIDKey">
      <xs:selector xpath="student"/>
      <xs:field xpath="id"/>
    </xs:key>

    <!-- Khóa ngoại: Mỗi studentRef trong enrollment phải tham chiếu đến một ID hợp lệ -->
    <xs:keyref name="EnrollmentStudentRef" refer="StudentIDKey">
      <xs:selector xpath="enrollment"/>
      <xs:field xpath="studentRef"/>
    </xs:keyref>

  </xs:element>

</xs:schema>